:root {
  --font-family-base: "Barlow Condensed";
  --font-family-serif: "Roboto Slab";
  --color-gray-light: #ddd;
  --color-white: #fff;
  --color-dark: #000;
}

@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Barlow Condensed Regular"), local("BarlowCondensed-Regular"),
    url(https://fonts.gstatic.com/s/barlowcondensed/v5/HTx3L3I-JCGChYJ8VI-L6OO_au7B6xHT2lv0tKk.woff2)
      format("woff2"),
    url(https://fonts.gstatic.com/s/archivonarrow/v12/tss0ApVBdCYD5Q7hcxTE1ArZ0Yb0.woff)
      format("woff");
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoDIOmb2RlV9Su1cai.woff)
    format("woff");
  unicode-range: U+0000-00FF;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font-family-base);
  font-size: 1.2rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: var(--font-family-serif);
}

header {
  padding: 1rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-gray-light);
}

header h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 2.5rem;
}

img {
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

section {
  margin-top: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 2rem;
  background-color: var(--color-dark);
  color: var(--color-white);
}

footer h3 {
  font-size: 1.2rem;
}

.container {
  max-width: 100%;
  padding: 0 1rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.footer-links h3 {
  margin-bottom: 1rem;
}

.footer-links div {
  display: flex;
  flex-direction: column;
}

.footer-links div a {
  margin-bottom: 0.25rem;
  color: var(--color-gray-light);
}

@media (min-width: 1024px) {
  section {
    margin-top: 3rem;
  }

  footer {
    flex-direction: row;
  }

  .footer-links {
    margin-top: 0;
    margin-left: 11rem;
    flex-basis: 20%;
  }

  .footer-links div {
    margin-right: 5rem;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
  }
}
